<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Kulutukset</title>
</head>
<body>
    <h1>Käyttäjän {{ (index .Spendings 0).Username }} kulutukset</h1>
    <h3>Alkaen {{ .From.Format "01-02-2006" }} ja {{ .To.Format "01-02-2006" }} asti</h3>
    <table width=600px>
    <col style="width:150px">
	<col style="width:100px">
	<col style="width:350px">
    <thead>
    <tr>
        <th style="text-align:left">Aika</th>
        <th style="text-align:left">Määrä</th>
        <th style="text-align:left">Kuvaus</th>
    </tr>
    </thead>

    <tbody>
    {{ range $idx, $item := .Spendings }}
    <tr>
        <td>{{ $item.MonthYear.Format "01-02-2006" }}</td>
        <td>{{ $item.Spending }}</td>
        <td>{{ $item.EventName }}</td>
    </tr>
    {{ end }}
    </tbody>

    </table>
</body>
</html>