<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Kuukausittaiset kulutukset</title>
</head>
<body>
    <h1>Käyttäjän {{ .GetOne.Username }} kulutukset</h1>
    <h3>Alkaen {{ .From.Format "02-01-2006" }} ja {{ .To.Format "02-01-2006" }} asti</h3>
    <table width=650px>
    <col style="width:30px">
    <col style="width:120px">
    <col style="width:120px">
    <col style="width:120px">
    <thead>
    <tr>
        <th style="text-align:left">ID</th>
        <th style="text-align:center">Aika</th>
        <th style="text-align:right">Määrä</th>
        <th style="text-align:left">Kuvaus</th>
    </tr>
    </thead>

    <tbody>
    {{- range $s := .Spendings }}
        {{- range $puchMonth, $items := $s }}
    <tr>
        <td style="text-align:left">{{- .ID }}</td>
        <td style="text-align:center">{{- .MonthYear.Format "02-01-2006" }}</td>
        <td style="text-align:right">{{- .Spending }}</td>
        <td style="text-align:left">{{- .EventName }}</td>
    </tr>
        {{- end }}
    {{- end }}
    </tbody>

    </table>
</body>
</html>
