<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Kulutukset</title>
</head>
<body>
    <h1>Käyttäjän {{ .GetOne.Username }} kulutukset</h1>
    <h3>Alkaen {{ .From.Format "02-01-2006" }} ja {{ .To.Format "02-01-2006" }} asti</h3>
    <table width=600px>
    <col style="width:150px">
	<col style="width:100px">
	<col style="width:350px">
    <thead>
    <tr>
        <th style="text-align:left">Aika</th>
        <th style="text-align:left">Määrä</th>
        <th style="text-align:left">Kuvaus</th>
    </tr>
    </thead>

    <tbody>
    {{- range $s := .Spendings }}
        {{- range $puchMonth, $items := $s }}
    <tr>
        <td>{{- .MonthYear.Format "02-01-2006" }}</td>
        <td>{{- .Spending }}</td>
        <td>{{- .EventName }}</td>
    </tr>
        {{- end }}
    {{- end }}
    </tbody>

    </table>
</body>
</html>
